<h1 class="h3">Ask a Question</h1>
<form action="/question" method="post">
    <div class="form-group">
        <input type="text" class="form-control" id="question" name="question" aria-describedby="questionHelp"
               placeholder="What did I do today?"/>
        <small id="questionHelp" class="form-text text-muted">Want to recall something about your day? Enter your question above!</small>
    </div>
    <button type="submit" class="btn btn-primary">Search!</button>
</form>